## ë¹…ë°ì´í„° ë¶„ì„ê¸°ì‚¬ ì‹¤ê¸° 
---
# 1. ì‘ì—…í˜• ì œ1 ìœ í˜•
### (1) Iris Dataset
> **1. Iris ë°ì´í„° ì„¸íŠ¸ì—ì„œ species ë³€ìˆ˜ ê°’ ë³„ë¡œ petal_width ìƒìœ„ 25% ê°’ì„ êµ¬í•œ í›„, ê°€ì¥ í° ê°’ê³¼ ê°€ì¥ ì‘ì€ ê°’ ì‚¬ì´ì˜ ì°¨ì´ë¥¼ ê³„ì‚°í•˜ì‹œì˜¤.** <br>-> ğŸ¤¬ 0.75ë¡œ êµ¬í•´ì•¼ í•¨ . âŒ

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
iris = pd.read_csv('/Users/hayeon/Downloads/iris.csv')

In [3]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [4]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [194]:
one = iris.groupby('species')['petal_width'].quantile([0.75]) # ğŸ¤¬ 0.75

In [202]:
one

species
setosa      0.75    0.3
versicolor  0.75    1.5
virginica   0.75    2.3
Name: petal_width, dtype: float64

In [204]:
# 1. ë‹µ
round(2.3 - 0.3)

2

> **2. iris ë°ì´í„° ì„¸íŠ¸ì—ì„œ sepal_length ë³€ìˆ˜ì˜ ì „ì²´ ê°’ë“¤ì„ ì¤‘ë³µì—†ì´ ë¦¬ìŠ¤íŠ¸ë¡œ ë§Œë“  í›„, ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í–ˆì„ ë•Œ ë¦¬ìŠ¤íŠ¸ì˜ 10ë²ˆì§¸ì— ì˜¤ëŠ” ìˆ«ìë¥¼ ê³„ì‚°í•˜ì‹œì˜¤** <br> -> 10ë²ˆì§¸ë¼ê³  ë§í•˜ë©´ ì¸ë±ìŠ¤ëŠ” 9ë¼ê³  ì…ë ¥í•´ì•¼ ë¨. âŒ

In [191]:
# 2. ë‹µ
sorted(iris['sepal_length'].unique().tolist())[9] ### ì¸ë±ìŠ¤ ë²ˆí˜¸ ì˜ ì°¾ì•„ë„£ê¸°

5.2

> **3. iris ë°ì´í„° ì„¸íŠ¸ë¥¼ sepal_width ë³€ìˆ˜ ê°’ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ í•œ í›„ ìœ„ì—ì„œë¶€í„° 100ê°œ í–‰ì„ í•™ìŠµ ë°ì´í„°ë¡œ ë¶„ë¦¬í•˜ê³ , <br> í•™ìŠµ ë°ì´í„°ì—ì„œ sepal_widthì˜ í‘œì¤€í¸ì°¨ ê°’ì„ êµ¬í•œ í›„ 50ì„ ê³±í•œ ê°’ì„ ê³„ì‚°í•˜ì‹œì˜¤. <br>(ìµœì¢… ê³„ì‚° ê°’ì˜ ì†Œìˆ˜ì  ì´í•˜ëŠ” ë²„ë¦°ë‹¤.)** âœ…

In [22]:
train = iris.sort_values(by='sepal_width', ascending=False)[:100]

In [26]:
# 3. ë‹µ
round(np.std(train['sepal_width'])*50)

16

> **4. iris ë°ì´í„° ì„¸íŠ¸ì—ì„œ species ë³€ìˆ˜ ê°’ë³„ë¡œ petal_length ìƒìœ„ 10ê°œ í–‰ (í° ê°’)ì˜ í‰ê· ê°’ì„ êµ¬í•œ í›„, í‰ê· ê°’ì˜ í•©ì„ ê³„ì‚°í•˜ì‹œì˜¤.<br> (ìµœì¢… ê³„ì‚° ê°’ì˜ ì†Œìˆ˜ì  ì´í•˜ëŠ” ë°˜ì˜¬ë¦¼í•œë‹¤.)**. âŒ

In [43]:
setosa = iris[iris['species']=='setosa']
virginica = iris[iris['species']=='virginica']
versicolor = iris[iris['species']=='versicolor']

In [47]:
set_m = setosa.sort_values('petal_length', ascending=False)[:10]['petal_length'].mean()

In [48]:
vir_m = virginica.sort_values('petal_length', ascending=False)[:10]['petal_length'].mean()

In [49]:
ver_m = versicolor.sort_values('petal_length', ascending=False)[:10]['petal_length'].mean()

In [206]:
# 4 ë‹µ
round(np.sum([set_m, vir_m, ver_m])) #### sumì¸ì§€ mean ì¸ì§€ êµ¬ë¶„í•´ì„œ í•¨ìˆ˜ ì ìš©í•˜ê³  round í•¨ìˆ˜ ì ìš©

13

> **5. Iris ë°ì´í„°ì„¸íŠ¸ì—ì„œ sepal_length ë³€ìˆ˜ê°€ ì´ìƒì¹˜ë¥¼ ê°€ì§€ëŠ” ë°ì´í„° í–‰ ìˆ˜ë¥¼ ê³„ì‚°í•˜ì‹œì˜¤. <br> (ë‹¨, ì´ìƒì¹˜ ë²”ìœ„ëŠ” (í‰ê·  + 2 x í‘œì¤€í¸ì°¨) ì´ìƒì´ê±°ë‚˜ (í‰ê·  - 2 x í‘œì¤€í¸ì°¨) ì´í•˜ì´ë‹¤.)** âœ…

In [63]:
mean = iris['sepal_length'].mean()
std = iris['sepal_length'].std()

upper_bound = mean + (2*std)
lower_bound = mean - (2*std)

In [67]:
# 5. ë‹µ
len(iris[(iris['sepal_length']>= upper_bound) | (iris['sepal_length']<=lower_bound)])

6

## (2) Wine Dataset

In [68]:
wine = pd.read_csv('/Users/hayeon/Downloads/wine.csv')

In [70]:
wine.head(3)

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,NaN,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0

In [71]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   alcohol                       178 non-null    float64
 1   malic_acid                    178 non-null    float64
 2   ash                           178 non-null    float64
 3   alcalinity_of_ash             168 non-null    float64
 4   magnesium                     178 non-null    float64
 5   total_phenols                 163 non-null    float64
 6   flavanoids                    178 non-null    float64
 7   nonflavanoid_phenols          178 non-null    float64
 8   proanthocyanins               178 non-null    float64
 9   color_intensity               178 non-null    float64
 10  hue                           178 non-null    float64
 11  od280/od315_of_diluted_wines  178 non-null    float64
 12  proline                       178 non-null    float64
 13  class                         178 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 19.6 KB

In [72]:
wine.describe()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
count,178.000000,178.000000,178.000000,168.000000,178.000000,163.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.451786,99.741573,2.313067,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258,0.938202
std,0.811827,1.117146,0.274344,3.353521,14.282484,0.623317,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474,0.775035
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000,0.000000
25%,12.362500,1.602500,2.210000,17.075000,88.000000,1.785000,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000,0.000000
50%,13.050000,1.865000,2.360000,19.450000,98.000000,2.360000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000,1.000000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.815000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000,2.000000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000,2.000000

> **1. wine ë°ì´í„°ì…‹ì—ì„œ total_phenols ê²°ì¸¡ì¹˜ë¥¼ ì œê±°í•˜ê³  alcalinity_of_ash ë³€ìˆ˜ì˜ ê²°ì¸¡ì¹˜ëŠ” ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´í•œ í›„, <br>alcalinity_of_ash í‰ê· ê°’ì„ ê³„ì‚°í•˜ì‹œì˜¤ (ìµœì¢… ê³„ì‚° ê°’ì˜ ì†Œìˆ˜ì  ì´í•˜ëŠ” ë²„ë¦°ë‹¤.)** âœ…

In [80]:
wine_dropna = wine.dropna(subset=['total_phenols'])

In [84]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan, strategy='median')
wine_dropna['alcalinity_of_ash'] = imputer.fit_transform(wine_dropna[['alcalinity_of_ash']])

In [88]:
# 1 ë‹µ
round(wine_dropna['alcalinity_of_ash'].mean())

19

> **2. wine ë°ì´í„°ì…‹ì—ì„œ alcohol ê°’ì´ alcohol í‰ê·  ê°’ ì´ìƒì´ê³ , color_intensity ê°’ì´ color_intensity í‰ê·  ê°’ ì´ìƒì¸ ë°ì´í„°ë§Œ ë‚¨ê²¼ì„ ë•Œ, <br>ê°€ì¥ ë§ì€ class ê°’ì„ êµ¬í•˜ì‹œì˜¤** âœ…

In [90]:
alc_mean = wine['alcohol'].mean()
clr_mean = wine['color_intensity'].mean()

In [92]:
print(alc_mean, clr_mean)

13.000617977528083 5.058089882022473

In [94]:
two_df = wine[(wine['alcohol']>=alc_mean)&(wine['color_intensity']>=clr_mean)]

In [98]:
# 0 í´ë˜ìŠ¤ê°€ ê°€ì¥ ë§ìŒ
two_df['class'].value_counts()

0    37
2    23
1     1
Name: class, dtype: int64

> **3. wine ë°ì´í„°ì…‹ì—ì„œ class 1ì— í•´ë‹¹í•˜ëŠ” ë°ì´í„°ì˜ ash í‰ê· ê°’ê³¼ wine ë°ì´í„°ì…‹ì˜ ëª¨ë“  ê²°ì¸¡ì¹˜ë¥¼ ì œê±°í•œ í›„ì˜ ash ê°’ì˜ í‰ê· ê°’ì˜ ì°¨ì´ì˜ <br>ì ˆëŒ“ê°’ì„ ê³„ì‚°í•˜ì‹œì˜¤(ìµœì¢… ê³„ì‚° ê°’ì˜ ì†Œìˆ˜ì  ì•„ë˜ 4ë²ˆì§¸ ìë¦¬ì—ì„œ ë°˜ì˜¬ë¦¼í•œë‹¤).** âŒ

In [104]:
class1 = wine[wine['class']==1]['ash'].mean()

In [105]:
dropna = wine.dropna().ash.mean()

In [207]:
# 3 ë‹µ
round(abs(dropna-class1), 3) ### 4ë²ˆì§¸ ìë¦¬ì—ì„œ = round(x, 3) ê²°ê³¼ì ìœ¼ë¡  ë‘ìë¦¬ë§Œ ë‚˜ì˜¤ê²Œ

0.12

> **4. wine ë°ì´í„°ì…‹ì—ì„œ alcohol ë³€ìˆ˜ì˜ ìƒìœ„ì—ì„œ 20ë²ˆì§¸ ê°’(alcoholì„ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬í–ˆì„ ë•Œ 20ë²ˆì§¸ì— ìœ„ì¹˜í•œ ê°’)ìœ¼ë¡œ ìƒìœ„ 20ê°œì˜ ê°’ì„ ë³€í™˜í•œ í›„, <br>proanthocyaninsê°€ 2 ì´í•˜ì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ì—¬ alcoholì˜ í‰ê· ê°’ì„ ê³„ì‚°í•˜ì‹œì˜¤(ìµœì¢… ê³„ì‚° ê°’ì˜ ì†Œìˆ˜ì  ì•„ë˜ 3ë²ˆì§¸ ìë¦¬ì—ì„œ ë°˜ì˜¬ë¦¼í•œë‹¤).**. âŒ

In [227]:
test = wine.sort_values('alcohol')
test.reset_index(drop=True, inplace=True)

In [232]:
top20 = test.iloc[19]['alcohol']

In [233]:
print(top20)

12.0

In [234]:
test['alcohol'][:20] = top20

In [236]:
# 4 ë‹µ
round(test[test['proanthocyanins']<=2]['alcohol'].mean(), 2) #### ì¸ë±ìŠ¤ ë¦¬ì…‹, ë²ˆí˜¸ ì‹ ê²½ì“°ê¸°

12.97

#### ì •ë‹µ

In [222]:
data_sorted = wine.sort_values(by="alcohol", axis=0, ascending=True)
data_sorted = data_sorted.reset_index(drop=True)
data_sorted.loc[0:19, 'alcohol'] = data_sorted.loc[19, 'alcohol']
print(round(data_sorted[data_sorted['proanthocyanins']<=2]['alcohol'].mean(), 2))

12.97

> **5. wine ë°ì´í„°ì…‹ì—ì„œ class 1ì— í•´ë‹¹í•˜ëŠ” ë°ì´í„°ì˜ proline ë³€ìˆ˜ì˜ ì œ 3ì‚¬ë¶„ìœ„ìˆ˜ì™€ ì œ 1ì‚¬ë¶„ìœ„ìˆ˜ ì°¨ë¥¼ êµ¬í•˜ê³ , <br> class 2ì— í•´ë‹¹í•˜ëŠ” ë°ì´í„°ì˜ proline ë³€ìˆ˜ì˜ ì œ 3ì‚¬ë¶„ìœ„ìˆ˜ì™€ ì œ 1ì‚¬ë¶„ìœ„ìˆ˜ ì°¨ë¥¼ êµ¬í•˜ì—¬ ë‘ ê°’ì˜ ì°¨ì´ë¥¼ ì ˆëŒ“ê°’ì„ ê³„ì‚°í•˜ì‹œì˜¤** âœ…

In [139]:
quant = wine[wine['class']==1]['proline'].quantile([0.75, 0.25]).values

In [144]:
class1_minus = quant[0] - quant[1] # class 1ì— í•´ë‹¹í•˜ëŠ” ë°ì´í„°ì˜ proline 3ì‚¬ë¶„ìœ„ìˆ˜ - 1ì‚¬ë¶„ìœ„ìˆ˜

In [142]:
quant2 = wine[wine['class']==2]['proline'].quantile([0.75, 0.25]).values

In [145]:
class2_minus = quant2[0] - quant2[1]

In [146]:
# 5 ë‹µ
abs(class1_minus - class2_minus)

68.5

---
# ì‘ì—…í˜• ì œ 2 ìœ í˜•
### Stellar Classification
1. ë¬¸ì œ 
- ì œê³µ ë°ì´í„° ëª©ë¡ 
    * stellar_y_train.csv : ì€í•˜ ì—¬ë¶€ ë°ì´í„° (í•™ìŠµìš©), csv í˜•ì‹ì˜ íŒŒì¼
    * stellar_X_train.csv, stellar_X_test.csv : ì²œì²´ ê´€ì¸¡ íŠ¹ì„±(í•™ìŠµìš© ë° í‰ê°€ìš©), csv í˜•ì‹ì˜ íŒŒì¼
- ë°ì´í„° í˜•ì‹ ë° ë‚´ìš©
    * stellar_y_train.csv (70,000)
    
- ì£¼ì–´ì§„ í•™ìŠµìš© ë°ì´í„°ë¥¼ í™œìš©í•˜ì—¬ í•´ë‹¹ ì²œì²´ê°€ ì€í•˜ì¸ì§€ ì•„ë‹Œì§€ ì˜ˆì¸¡ëª¨í˜•ì„ ë§Œë“  í›„, ì´ë¥¼ í‰ê°€ìš© ë°ì´í„°ì— ì ìš©í•˜ì—¬ <br>ì–»ì€ ì²œì²´ì˜ ì€í•˜ ì—¬ë¶€(ì€í•˜ì¸ ê²½ìš° 1)ë¥¼ ë‹¤ìŒê³¼ ê°™ì€ í˜•ì‹ì˜ csv íŒŒì¼ë¡œ ìƒì„±í•˜ì‹œì˜¤ (ì œì¶œí•œ ëª¨ë¸ì˜ ì„±ëŠ¥ì€ ROC-AUC í‰ê°€ ì§€í‘œì— ë”°ë¼ ì±„ì )

In [185]:
# ì¶œë ¥ì„ ì›í•˜ì‹¤ ê²½ìš° print() í•¨ìˆ˜ í™œìš©
# ì˜ˆì‹œ) print(df.head())

# getcwd(), chdir() ë“± ì‘ì—… í´ë” ì„¤ì • ë¶ˆí•„ìš”
# íŒŒì¼ ê²½ë¡œ ìƒ ë‚´ë¶€ ë“œë¼ì´ë¸Œ ê²½ë¡œ ì ‘ê·¼ ë¶ˆê°€

# ë°ì´í„° íŒŒì¼ ì½ê¸° ì˜ˆì œ 
import pandas as pd

X_test = pd.read_csv('/Users/hayeon/Downloads/stellar_X_test.csv')
X_train = pd.read_csv('/Users/hayeon/Downloads/stellar_X_train.csv')
y_train = pd.read_csv('/Users/hayeon/Downloads/stellar_y_train.csv')

# ì‚¬ìš©ì ì½”ë”©

# ë‹µì•ˆ ì œì¶œ ì°¸ê³ 
# ì•„ë˜ ì½”ë“œ ì˜ˆì¸¡ ë³€ìˆ˜ì™€ ìˆ˜í—˜ë²ˆí˜¸ë¥¼ ê°œì¸ë³„ë¡œ ë³€ê²½í•˜ì—¬ í™œìš©
# pd.DataFrame({'gender':pred}).to_csv('ìˆ˜í—˜ë²ˆí˜¸.csv', index=False)

### ìœ ì˜ì‚¬í•­
- ì„±ëŠ¥ì´ ìš°ìˆ˜í•œ ì˜ˆì¸¡ëª¨í˜•ì„ êµ¬ì¶•í•˜ê¸° ìœ„í•´ì„œëŠ” ì ì ˆí•œ ë°ì´í„° ì „ì²˜ë¦¬, Feature Engineering, ë¶„ë¥˜ ì•Œê³ ë¦¬ì¦˜ ì‚¬ìš©, ì´ˆë§¤ê°œë³€ìˆ˜ ìµœì í™”, ëª¨í˜• ì•™ìƒë¸” ë“±ì´ ìˆ˜ë°˜ë˜ì–´ì•¼ í•œë‹¤. 
- ìˆ˜í—˜ë²ˆí˜¸.csv (ì˜ˆ : 0000.csv) íŒŒì¼ì´ ë§Œë“¤ì–´ì§€ë„ë¡ ì½”ë“œë¥¼ ì œì¶œí•œë‹¤.
- ì œì¶œí•œ ëª¨ë¸ì˜ ì„±ëŠ¥ì€ ROC-AUC í‰ê°€ ì§€í‘œì— ë”°ë¼ ì±„ì í•œë‹¤.
<br><br>
* galaxy ë³€ìˆ˜ëŠ” ì¢…ì†ë³€ìˆ˜

In [149]:
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   alpha     70000 non-null  float64
 1   delta     70000 non-null  float64
 2   u         70000 non-null  float64
 3   g         70000 non-null  float64
 4   r         70000 non-null  float64
 5   i         70000 non-null  float64
 6   z         70000 non-null  float64
 7   redshift  70000 non-null  float64
 8   run_ID    70000 non-null  int64
 9   rerun_ID  70000 non-null  int64
 10  cam_col   70000 non-null  int64
 11  field_ID  70000 non-null  int64
 12  plate     70000 non-null  int64
dtypes: float64(8), int64(5)
memory usage: 6.9 MB
None

In [151]:
X_train.describe()

,alpha,delta,u,g,r,i,z,redshift,run_ID,rerun_ID,cam_col,field_ID,plate
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.0,70000.000000,70000.000000,70000.000000
mean,177.535809,24.107885,21.938806,20.486718,19.644011,19.082969,18.624590,0.575246,4478.649443,301.0,3.510500,186.045714,5127.852900
std,96.483093,19.665057,37.942814,37.925201,1.852053,1.755997,37.904705,0.729921,1965.326847,0.0,1.585203,148.661268,2947.452991
min,0.005528,-18.785328,-9999.000000,-9999.000000,9.822070,9.469903,-9999.000000,-0.009971,109.000000,301.0,1.000000,11.000000,266.000000
25%,127.385304,5.115922,20.349987,18.957325,18.136183,17.733732,17.463838,0.052602,3185.000000,301.0,2.000000,82.000000,2525.750000
50%,180.706865,23.579507,22.183860,21.095445,20.122805,19.399590,19.001010,0.422838,4188.000000,301.0,4.000000,146.000000,4978.000000
75%,233.942154,39.871336,23.684145,22.121073,21.039012,20.391340,19.917578,0.700399,5326.000000,301.0,5.000000,241.000000,7389.000000
max,359.999615,82.947622,32.781390,31.602240,29.571860,32.141470,28.790550,7.011245,8162.000000,301.0,6.000000,989.000000,12547.000000

In [154]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.3)

In [157]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(X_train, y_train)

RandomForestClassifier()

In [158]:
from sklearn.linear_model import LogisticRegression

model_lr = LogisticRegression()
model_lr.fit(X_train, y_train)

LogisticRegression()

In [159]:
from xgboost import XGBClassifier

model_xgb = XGBClassifier()
model_xgb.fit(X_train, y_train)

[18:29:52] WARNING: /opt/concourse/worker/volumes/live/7a2b9f41-3287-451b-6691-43e9a6c0910f/volume/xgboost-split_1619728204606/work/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [161]:
y_pred_rf = model_rf.predict(X_val)
y_pred_lr = model_lr.predict(X_val)
y_pred_xgb = model_xgb.predict(X_val)

In [162]:
from sklearn.metrics import classification_report, roc_auc_score

In [170]:
print('-'*60)
print('ëœë¤í¬ë ˆìŠ¤íŠ¸ ê²°ê³¼ í™•ì¸')
print(classification_report(y_val, y_pred_rf))
print('ROC : %.3f'%roc_auc_score(y_val, y_pred_rf))

print('-'*60)
print('ë¡œì§€ìŠ¤í‹± íšŒê·€ ê²°ê³¼ í™•ì¸')
print(classification_report(y_val, y_pred_lr))
print('ROC : %.3f'%roc_auc_score(y_val, y_pred_lr))

print('-'*60)
print('XGB ê²°ê³¼ í™•ì¸')
print(classification_report(y_val, y_pred_xgb))
print('ROC : %.3f'%roc_auc_score(y_val, y_pred_xgb))

------------------------------------------------------------
ëœë¤í¬ë ˆìŠ¤íŠ¸ ê²°ê³¼ í™•ì¸
              precision    recall  f1-score   support

           0       0.97      0.97      0.97      8508
           1       0.98      0.98      0.98     12492

    accuracy                           0.98     21000
   macro avg       0.98      0.98      0.98     21000
weighted avg       0.98      0.98      0.98     21000

ROC : 0.975
------------------------------------------------------------
ë¡œì§€ìŠ¤í‹± íšŒê·€ ê²°ê³¼ í™•ì¸
              precision    recall  f1-score   support

           0       0.70      0.62      0.66      8508
           1       0.76      0.82      0.79     12492

    accuracy                           0.74     21000
   macro avg       0.73      0.72      0.72     21000
weighted avg       0.74      0.74      0.74     21000

ROC : 0.720
------------------------------------------------------------
XGB ê²°ê³¼ í™•ì¸
              precision    recall  f1-score   support

           0       0.98      0.97      0.97      8508
           1       0.98      0.99      0.98     12492

    accuracy                           0.98     21000
   macro avg       0.98      0.98      0.98     21000
weighted avg       0.98      0.98      0.98     21000

ROC : 0.977

In [172]:
# xgb ì„±ëŠ¥ì´ ê°€ì¥ ì¢‹ìŒ 
pred = model_xgb.predict(X_test)
pd.DataFrame({'galaxy':pred}).to_csv('ìˆ˜í—˜ë²ˆí˜¸.csv', index=False)

--- 
### Scaling

In [176]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_val_scaled = scaler.transform(X_val)
X_test_scaled = scaler.transform(X_test)

In [177]:
model_rf = RandomForestClassifier()
model_rf.fit(X_train_scaled, y_train)

RandomForestClassifier()

In [178]:
model_lr = LogisticRegression()
model_lr.fit(X_train_scaled, y_train)

LogisticRegression()

In [180]:
model_xgb = XGBClassifier()
model_xgb.fit(X_train_scaled, y_train)

[18:40:16] WARNING: /opt/concourse/worker/volumes/live/7a2b9f41-3287-451b-6691-43e9a6c0910f/volume/xgboost-split_1619728204606/work/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [181]:
y_pred_rf_scaled = model_rf.predict(X_val_scaled)
y_pred_lr_scaled = model_lr.predict(X_val_scaled)
y_pred_xgb_scaled = model_xgb.predict(X_val_scaled)

In [182]:
print('-'*60)
print('ëœë¤í¬ë ˆìŠ¤íŠ¸ ê²°ê³¼ í™•ì¸')
print(classification_report(y_val, y_pred_rf_scaled))
print('ROC : %.3f'%roc_auc_score(y_val, y_pred_rf_scaled))

print('-'*60)
print('ë¡œì§€ìŠ¤í‹± íšŒê·€ ê²°ê³¼ í™•ì¸')
print(classification_report(y_val, y_pred_lr_scaled))
print('ROC : %.3f'%roc_auc_score(y_val, y_pred_lr_scaled))

print('-'*60)
print('XGB ê²°ê³¼ í™•ì¸')
print(classification_report(y_val, y_pred_xgb_scaled))
print('ROC : %.3f'%roc_auc_score(y_val, y_pred_xgb_scaled))

------------------------------------------------------------
ëœë¤í¬ë ˆìŠ¤íŠ¸ ê²°ê³¼ í™•ì¸
              precision    recall  f1-score   support

           0       0.97      0.97      0.97      8508
           1       0.98      0.98      0.98     12492

    accuracy                           0.98     21000
   macro avg       0.98      0.97      0.98     21000
weighted avg       0.98      0.98      0.98     21000

ROC : 0.975
------------------------------------------------------------
ë¡œì§€ìŠ¤í‹± íšŒê·€ ê²°ê³¼ í™•ì¸
              precision    recall  f1-score   support

           0       0.82      0.74      0.78      8508
           1       0.83      0.89      0.86     12492

    accuracy                           0.83     21000
   macro avg       0.83      0.81      0.82     21000
weighted avg       0.83      0.83      0.83     21000

ROC : 0.814
------------------------------------------------------------
XGB ê²°ê³¼ í™•ì¸
              precision    recall  f1-score   support

           0       0.98      0.97      0.97      8508
           1       0.98      0.99      0.98     12492

    accuracy                           0.98     21000
   macro avg       0.98      0.98      0.98     21000
weighted avg       0.98      0.98      0.98     21000

ROC : 0.977

## corr()

In [186]:
data = pd.concat([X_train, y_train], axis=1)

In [188]:
data.corr()

,alpha,delta,u,g,r,i,z,redshift,run_ID,rerun_ID,cam_col,field_ID,plate,galaxy
alpha,1.000000,0.139000,-0.002002,-0.002768,-0.025369,-0.026896,-0.003128,-0.001969,-0.012478,NaN,0.017661,-0.163657,-0.003786,0.002567
delta,0.139000,1.000000,0.003115,0.004326,-0.007267,-0.005234,0.004437,0.030398,-0.298495,NaN,0.032912,-0.172358,0.110893,-0.040316
u,-0.002002,0.003115,1.000000,0.999518,0.046136,0.038878,0.998663,0.012835,0.014786,NaN,0.003959,-0.009625,0.025698,0.020667
g,-0.002768,0.004326,0.999518,1.000000,0.053006,0.047667,0.999411,0.020068,0.015145,NaN,0.003895,-0.010040,0.033618,0.013244
r,-0.025369,-0.007267,0.046136,0.053006,1.000000,0.962650,0.045787,0.432704,0.150782,NaN,0.006689,-0.025521,0.654414,-0.040485
i,-0.026896,-0.005234,0.038878,0.047667,0.962650,1.000000,0.047518,0.492105,0.144204,NaN,0.006036,-0.026267,0.660886,-0.162981
z,-0.003128,0.004437,0.998663,0.999411,0.045787,0.047518,1.000000,0.026307,0.013545,NaN,0.003862,-0.010126,0.032311,-0.005756
redshift,-0.001969,0.030398,0.012835,0.020068,0.432704,0.492105,0.026307,1.000000,0.061791,NaN,0.000544,-0.021300,0.385908,-0.255857
run_ID,-0.012478,-0.298495,0.014786,0.015145,0.150782,0.144204,0.013545,0.061791,1.000000,NaN,-0.051530,0.031112,0.239947,0.021828
rerun_ID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cam_col,0.017661,0.032912,0.003959,0.003895,0.006689,0.006036,0.003862,0.000544,-0.051530,NaN,1.000000,-0.012721,-0.005349,-0.024707
field_ID,-0.163657,-0.172358,-0.009625,-0.010040,-0.025521,-0.026267,-0.010126,-0.021300,0.031112,NaN,-0.012721,1.000000,-0.080614,0.039244
plate,-0.003786,0.110893,0.025698,0.033618,0.654414,0.660886,0.032311,0.385908,0.239947,NaN,-0.005349,-0.080614,1.000000,-0.109632
galaxy,0.002567,-0.040316,0.020667,0.013244,-0.040485,-0.162981,-0.005756,-0.255857,0.021828,NaN,-0.024707,0.039244,-0.109632,1.000000

----
## ì œ2 ì‘ì—…í˜• ì •ë‹µì•ˆ

In [237]:
X_train.describe()

,alpha,delta,u,g,r,i,z,redshift,run_ID,rerun_ID,cam_col,field_ID,plate
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.0,70000.000000,70000.000000,70000.000000
mean,177.535809,24.107885,21.938806,20.486718,19.644011,19.082969,18.624590,0.575246,4478.649443,301.0,3.510500,186.045714,5127.852900
std,96.483093,19.665057,37.942814,37.925201,1.852053,1.755997,37.904705,0.729921,1965.326847,0.0,1.585203,148.661268,2947.452991
min,0.005528,-18.785328,-9999.000000,-9999.000000,9.822070,9.469903,-9999.000000,-0.009971,109.000000,301.0,1.000000,11.000000,266.000000
25%,127.385304,5.115922,20.349987,18.957325,18.136183,17.733732,17.463838,0.052602,3185.000000,301.0,2.000000,82.000000,2525.750000
50%,180.706865,23.579507,22.183860,21.095445,20.122805,19.399590,19.001010,0.422838,4188.000000,301.0,4.000000,146.000000,4978.000000
75%,233.942154,39.871336,23.684145,22.121073,21.039012,20.391340,19.917578,0.700399,5326.000000,301.0,5.000000,241.000000,7389.000000
max,359.999615,82.947622,32.781390,31.602240,29.571860,32.141470,28.790550,7.011245,8162.000000,301.0,6.000000,989.000000,12547.000000

In [238]:
# ì´ìƒì¹˜ ì œê±° 
y_train = y_train.loc[X_train.u != -9999]
X_train = X_train.loc[X_train.u != -9999]

X_train.reset_index(drop=True, inplace=True)
y_train.reset_index(drop=True, inplace=True)

In [239]:
X_train.describe() # u ë³€ìˆ˜ í•˜ë‚˜ë§Œ ì´ìƒì¹˜ë¥¼ ì œê±°í–ˆëŠ”ë° g, zì˜ ì´ìƒì¹˜ë„ ì œê±°ë¨

,alpha,delta,u,g,r,i,z,redshift,run_ID,rerun_ID,cam_col,field_ID,plate
count,69999.000000,69999.000000,69999.000000,69999.000000,69999.000000,69999.000000,69999.000000,69999.000000,69999.000000,69999.0,69999.000000,69999.000000,69999.000000
mean,177.535145,24.108238,22.081964,20.629856,19.644032,19.082984,18.767701,0.575254,4478.702681,301.0,3.510522,186.040701,5127.878813
std,96.483622,19.664976,2.248554,2.033576,1.852057,1.756005,1.764734,0.729923,1965.290408,0.0,1.585204,148.656411,2947.466071
min,0.005528,-18.785328,10.996230,10.498200,9.822070,9.469903,9.612333,-0.009971,109.000000,301.0,1.000000,11.000000,266.000000
25%,127.384192,5.117238,20.350000,18.957435,18.136075,17.733685,17.463885,0.052608,3185.000000,301.0,2.000000,82.000000,2525.500000
50%,180.705886,23.580630,22.183900,21.095450,20.122810,19.399590,19.001020,0.422848,4188.000000,301.0,4.000000,146.000000,4978.000000
75%,233.942330,39.872079,23.684160,22.121075,21.039035,20.391350,19.917595,0.700399,5326.000000,301.0,5.000000,241.000000,7389.000000
max,359.999615,82.947622,32.781390,31.602240,29.571860,32.141470,28.790550,7.011245,8162.000000,301.0,6.000000,989.000000,12547.000000

In [240]:
print(X_train['redshift'].quantile([q/100 for q in range(90, 101)]))

0.90    1.566266
0.91    1.675948
0.92    1.786824
0.93    1.910857
0.94    2.041589
0.95    2.186017
0.96    2.323494
0.97    2.485796
0.98    2.713839
0.99    3.116165
1.00    7.011245
Name: redshift, dtype: float64

### -> ì•½ 2%ë§Œ 3ì„ ë„˜ìŒ

In [241]:
# íŒŒìƒë³€ìˆ˜ ì¶”ê°€
X_train['redshift_upper3'] = np.where(X_train['redshift']>3, 1, 0)
X_test['redshift_upper3'] = np.where(X_test['redshift']>3, 1, 0)

In [242]:
COL_DEL = []
COL_NUM = ['alpha', 'delta', 'u', 'g', 'r', 'i', 'z', 'redshift']
COL_CAT = ['run_ID', 'rerun_ID', 'cam_col', 'field_ID', 'plate', 'redshift_upper3']
COL_Y = ['galaxy']

X_train[COL_CAT] = X_train[COL_CAT].astype(str)
X_test[COL_CAT] = X_test[COL_CAT].astype(str)

X_train = X_train.drop(COL_DEL, axis=1)
X_test = X_test.drop(COL_DEL, axis=1)

In [244]:
train_df = pd.concat([X_train, y_train], axis=1)

for _col in COL_NUM:
    print('-'*80)
    print(_col)
    print(train_df.groupby(COL_Y)[_col].describe(), end='\n\n')
# ìˆ˜ì¹˜í˜• ì¤‘ ì˜ë¯¸ê°€ ìˆì–´ë³´ì´ëŠ” ë³€ìˆ˜ëŠ” redshift
# redshiftê°€ íƒ€ê²Ÿ í´ë˜ìŠ¤ ë³„ë¡œ í‰ê· ê°’ì´ ì°¨ì´ê°€ í¬ê²Œ ë‚˜ë‹ˆê¹Œ

--------------------------------------------------------------------------------
alpha
          count        mean        std       min         25%         50%  \
galaxy
0       28433.0  177.234737  99.202036  0.010959  120.997187  180.253146
1       41566.0  177.740638  94.579769  0.005528  131.392267  181.032298

               75%         max
galaxy
0       239.025694  359.999615
1       231.397544  359.989386

--------------------------------------------------------------------------------
delta
          count       mean        std        min       25%        50%  \
galaxy
0       28433.0  25.067356  20.141007 -18.785328  5.060842  26.372836
1       41566.0  23.452158  19.305416 -12.364701  5.136824  22.255904

              75%        max
galaxy
0       41.762988  82.947622
1       37.855667  77.615588

--------------------------------------------------------------------------------
u
          count      mean       std       min        25%        50%  \
galaxy
0       28433.0  21.34313  2.010059  10.99623  19.987270  21.355940
1       41566.0  22.58736  2.263188  13.89799  20.786442  22.847385

              75%       max
galaxy
0       22.548860  32.78139
1       24.207522  29.32565

--------------------------------------------------------------------------------
g
          count       mean       std       min       25%        50%  \
galaxy
0       28433.0  20.231791  1.851996  10.49820  19.00707  20.579190
1       41566.0  20.902150  2.106089  12.68849  18.90630  21.581005

              75%       max
galaxy
0       21.533270  30.60700
1       22.439442  31.60224

--------------------------------------------------------------------------------
r
          count       mean       std       min        25%       50%  \
galaxy
0       28433.0  19.734722  1.818405   9.82207  18.541890  20.15357
1       41566.0  19.581995  1.872222  11.77229  17.812303  20.10107

              75%       max
galaxy
0       21.125780  29.37411
1       20.963275  29.57186

--------------------------------------------------------------------------------
i
          count       mean       std        min        25%        50%  \
galaxy
0       28433.0  19.429044  1.795189   9.469903  18.254250  19.831600
1       41566.0  18.846264  1.688337  11.319370  17.377382  19.217675

              75%       max
galaxy
0       20.825140  32.14147
1       19.934773  30.16359

--------------------------------------------------------------------------------
z
          count       mean       std        min       25%       50%  \
galaxy
0       28433.0  19.240711  1.811976   9.612333  18.03419  19.61244
1       41566.0  18.444141  1.655606  10.897380  17.09492  18.76067

              75%       max
galaxy
0       20.627150  28.79055
1       19.463442  28.23829

--------------------------------------------------------------------------------
redshift
          count      mean       std       min       25%       50%       75%  \
galaxy
0       28433.0  0.801073  1.060163 -0.004136 -0.000095  0.000388  1.540357
1       41566.0  0.420785  0.263971 -0.009971  0.164568  0.456604  0.593396

             max
galaxy
0       7.011245
1       1.995524

In [245]:
for _col in COL_CAT:
    print(train_df.groupby(_col, as_index=False)[COL_Y].mean().sort_values(by=COL_Y, ascending=False), end='\n\n')

# ë²”ì£¼í˜• ì¤‘ ì˜ë¯¸ìˆì–´ ë³´ì´ëŠ” ë³€ìˆ˜ : cam_col, redshift_upper3

    run_ID  galaxy
97    2883     1.0
325   6121     1.0
399   8054     1.0
38    1897     1.0
245   4800     1.0
..     ...     ...
292   5378     0.0
279   5237     0.0
268   5115     0.0
261   5060     0.0
424    994     0.0

[425 rows x 2 columns]

  rerun_ID    galaxy
0      301  0.593808

  cam_col    galaxy
0       1  0.619151
3       4  0.612120
4       5  0.610490
2       3  0.593031
1       2  0.583152
5       6  0.530405

    field_ID  galaxy
676      717     1.0
750      788     1.0
667      708     1.0
704      746     1.0
706      748     1.0
..       ...     ...
830      934     0.0
829      933     0.0
828      932     0.0
827      931     0.0
835      940     0.0

[847 rows x 2 columns]

     plate  galaxy
6186   999     1.0
4292  6417     1.0
4263  6388     1.0
4264  6389     1.0
1082  1900     1.0
...    ...     ...
1653  2560     0.0
1655  2563     0.0
1656  2564     0.0
3569  5343     0.0
1073  1891     0.0

[6187 rows x 2 columns]

  redshift_upper3    galaxy
0               0  0.601125
1               1  0.000000

In [246]:
from sklearn.preprocessing import LabelEncoder
X = pd.concat([X_train, X_test])

for _col in COL_CAT:
    le = LabelEncoder()
    le.fit(X[_col])
    X_train[_col] = le.transform(X_train[_col])
    X_test[_col] = le.transform(X_test[_col])

In [247]:
from sklearn.model_selection import train_test_split

X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train, test_size=0.3, stratify=y_train)

In [248]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_tr[COL_NUM] = scaler.fit_transform(X_tr[COL_NUM])
X_val[COL_NUM] = scaler.transform(X_val[COL_NUM])
X_test[COL_NUM] = scaler.transform(X_test[COL_NUM])

In [249]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(X_tr, y_tr.values.ravel())

RandomForestClassifier()

In [250]:
from xgboost import XGBClassifier

model_xgb1 = XGBClassifier()
model_xgb1.fit(X_tr, y_tr.values.ravel())

[19:16:30] WARNING: /opt/concourse/worker/volumes/live/7a2b9f41-3287-451b-6691-43e9a6c0910f/volume/xgboost-split_1619728204606/work/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [251]:
from sklearn.metrics import roc_auc_score

y_pred_rf = model_rf.predict_proba(X_val)
y_pred_xgb1 = model_xgb1.predict_proba(X_val)

score_rf = roc_auc_score(y_val, y_pred_rf[:, 1])
score_xgb1 = roc_auc_score(y_val, y_pred_xgb1[:, 1])

print(score_rf)
print(score_xgb1)

0.9934614563815996
0.9940268226392814

In [252]:
pd.DataFrame({'feature':X_tr.columns, 'fi_rf':model_rf.feature_importances_, 'fi_xgb':model_xgb1.feature_importances_})

            feature     fi_rf    fi_xgb
0             alpha  0.015466  0.010570
1             delta  0.015602  0.010864
2                 u  0.071872  0.026000
3                 g  0.090088  0.092639
4                 r  0.040008  0.018843
5                 i  0.078979  0.020740
6                 z  0.095941  0.041589
7          redshift  0.517992  0.730262
8            run_ID  0.010186  0.010145
9          rerun_ID  0.000000  0.000000
10          cam_col  0.004000  0.009645
11         field_ID  0.008100  0.009661
12            plate  0.043360  0.019042
13  redshift_upper3  0.008407  0.000000

In [253]:
pred = model_xgb1.predict(X_test)
pd.DataFrame({'index':X_test.index, 'target':pred}).to_csv('ìˆ˜í—˜ë²ˆí˜¸_galaxy.csv', index=False)

---

In [257]:
X_train['redshift'].quantile([q/100 for q in range(90, 101)])

0.90    1.566266
0.91    1.675948
0.92    1.786824
0.93    1.910857
0.94    2.041589
0.95    2.186017
0.96    2.323494
0.97    2.485796
0.98    2.713839
0.99    3.116165
1.00    7.011245
Name: redshift, dtype: float64

In [258]:
[q/100 for q in range(90, 101)]

[0.9, 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.0]

In [260]:
X_train['delta'].quantile([q/100 for q in range(90, 101)])

0.90    51.013207
0.91    51.963829
0.92    52.967731
0.93    54.168300
0.94    55.440384
0.95    56.739953
0.96    57.910130
0.97    59.097374
0.98    62.424781
0.99    65.226762
1.00    82.947622
Name: delta, dtype: float64