## 빅데이터 분석기사 실기
- Python을 다룬지 꽤 되었지만 빅분기 실기 준비를 하면서 처음부터 다시 훑어보는 의미로.. 
- 예문에듀의 <빅데이터 분석기사 실기>를 참고하였다.
---
### 파이썬 자료형
### 숫자형

In [2]:
a = 1234      # 정수형
b = -12.34    # 실수형
c = a + b 

print(a, b)
print(type(a), type(b))
print(c)
print(type(c))

1234 -12.34
<class 'int'> <class 'float'>
1221.66
<class 'float'>

#### 숫자형 사칙연산

In [3]:
a = 3
b = 7

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)
print(a % b)
print(a // b)

10
-4
21
0.42857142857142855
2187
3
0

### 문자형

In [4]:
a = "Hello World"
b = "Hello Python's Word"
c = '"Hello World." he says.'
d = "Hello World\nLife is good" # \n = 줄바꿈

print(a)
print(b)
print(c)
print(d)

Hello World
Hello Python's Word
"Hello World." he says.
Hello World
Life is good

- \n : 줄바꿈
- \t : 탭

#### 문자형 사칙연산

In [5]:
# 문자열 더하기
a = "Python"
b = " "
c = "is good."

print(a + b + c)

Python is good.

In [6]:
# 문자열 곱하기
a = "Python"

print(a*3)

PythonPythonPython

In [7]:
# 문자열 길이 구하기
a = "Life is short, Python is valuable"
b = len(a)

print(b)

33

In [8]:
# 문자열 인덱싱
a = "Life is short, Python is valuable"
b = a[0]
c = a[10]
d = a[-8]
e = a[-1]

print(b + c + d + e)

Love

In [9]:
# 문자열 슬라이싱
a = "Life is short, Python is valuable"
b = a[ :4]
c = a[4:8]
d = a[25: ]

print(b + c + d)

Life is valuable

In [10]:
#문자 개수 세기
a = 'apple'
b = a.count('p')

print(b)

2

In [11]:
# 문자 위치 찾기
a = 'apple'
b = a.find('p')

print(b)

1

In [12]:
# 문자열 삽입
a = 'apple'
b = '.'.join(a)

print(b)

a.p.p.l.e

In [13]:
# 소문자와 대문자 바꾸기
a = 'apple'
b = a.upper()
c = a.lower()

print(b)
print(c)

APPLE
apple

In [14]:
# 공백 지우기
a = " apple "
b = a.lstrip()
c = a.rstrip()
d = a.strip()

print(b)
print(c)
print(d)

apple
 apple
apple

In [15]:
# 문자열 바꾸기
a = "Life is good"
b = a.replace("Life", "Python")

print(b)

Python is good

In [16]:
# 문자열 나누기 
a = "Life is short, Python is valuable"
b = a.split()
c = a.split(',')

print(b)
print(c)

['Life', 'is', 'short,', 'Python', 'is', 'valuable']
['Life is short', ' Python is valuable']

### 리스트 자료형

In [17]:
# 리스트 기본 연산
a = [1, 2, 3, 4, 5]
b = ['a', 'b', 'c']
c = a*2 + b
d = len(c)

print(c)
print(d)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 'a', 'b', 'c']
13

In [18]:
# 리스트 인덱싱과 슬라이싱
a = [1, 2, 3, 4, 5]

print(a)
print(a[0])
print(a[1 : 4])
print(a[-1])
print(a[4])
print(a[2:])
print(a[2:5])
print(a[:3])
print(a[0:3])

[1, 2, 3, 4, 5]
1
[2, 3, 4]
5
5
[3, 4, 5]
[3, 4, 5]
[1, 2, 3]
[1, 2, 3]

In [19]:
# 중첩된 리스트 인덱싱과 슬라이싱
a = [1, 2, 3, ['a', 'b', 'c']]

print(a)
print(a[3])
print(a[3][0])
print(a[3][1:])
print(a[3][:1])

[1, 2, 3, ['a', 'b', 'c']]
['a', 'b', 'c']
a
['b', 'c']
['a']

In [20]:
# 리스트 요소의 수정과 삭제
a = [1, 2, 3, 4, 5]
a[2] = 10
del a[4]

print(a)

[1, 2, 10, 4]

In [21]:
# 리스트 요소 추가
a = [1, 2, 3]
a.append(10)

print(a)

[1, 2, 3, 10]

In [22]:
# 리스트 정렬
a = [1, 5, 2, 4, 3]
a.sort()

print(a)

[1, 2, 3, 4, 5]

In [23]:
# 리스트 요소의 위치 반환
a = [5, 4, 3, 2, 1]
b = a.index(3)
c = a.index(5)

print(b)
print(c)

2
0

In [24]:
# 리스트 요소 삽입
a = [1, 2, 3]
a.insert(0, 10)

print(a)

[10, 1, 2, 3]

In [25]:
# 리스트 요소 제거
a = [5, 4, 3, 2, 1, 5, 4, 3, 2, 1]
a.remove(4)

print(a)

[5, 3, 2, 1, 5, 4, 3, 2, 1]

In [26]:
# 리스트 요소 뽑기
a = [5, 4, 3, 2, 1, 5, 4, 3, 2, 1]
b = a.pop(1)

print(a)
print(b)

[5, 3, 2, 1, 5, 4, 3, 2, 1]
4

In [27]:
# 리스트 요소 개수 세기
a = [5, 4, 3, 2, 1, 5, 4, 3, 2, 1]
b = a.count(1)

print(b)

2

### 튜플 자료형

In [28]:
# 튜플 기본 연산
a = (1, 2, 3, 4, 5)
b = ('a', 'b', 'c')
c = a * 2 + b
d = len(c)

print(c)
print(d)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 'a', 'b', 'c')
13

In [29]:
# 튜플 인덱싱과 슬라이싱
a = (1, 2, 3, 'a', 'b', 'c')

print(a[0])
print(a[3:])

1
('a', 'b', 'c')

### 딕셔너리 자료형

In [30]:
# 딕셔너리 자료 구조 
a = {'name':'John', 'age':30, 'birth':[11, 8]}

print(a)
print(a['name'])
print(a['birth'])

{'name': 'John', 'age': 30, 'birth': [11, 8]}
John
[11, 8]

In [31]:
# 딕셔너리 키-값 추가와 삭제
a = {'name':'John'}
a['age'] = 30
a['house'] = 'apartment'
a['birth'] = [11, 8]
del a['house'] 

print(a)

{'name': 'John', 'age': 30, 'birth': [11, 8]}

In [32]:
# 딕셔너리 키 중복
a = {'name':'John', 'name':'Park'}

print(a)

{'name': 'Park'}

In [33]:
# 딕셔너리 키 리스트 만들기
a = {'name':'John', 'age':30, 'birth':[11, 8]}
b = a.keys()
c = list(a.keys())

print(b)
print(c)

dict_keys(['name', 'age', 'birth'])
['name', 'age', 'birth']

In [34]:
# 딕셔너리 값 리스트 만들기 
a = {'name':'John', 'age':30, 'birth':[11, 8]}
b = a.values()
c = list(a.values())

print(b)
print(c)

dict_values(['John', 30, [11, 8]])
['John', 30, [11, 8]]

In [35]:
# 딕셔너리 키-값 리스트 만들기
a = {'name':'John', 'age':30, 'birth':[11, 8]}
b = a.items()
c = list(a.items())

print(b)
print(c)

dict_items([('name', 'John'), ('age', 30), ('birth', [11, 8])])
[('name', 'John'), ('age', 30), ('birth', [11, 8])]

In [36]:
# 딕셔너리 키로 값 호출하기
a = {'name':'John', 'age':30, 'birth':[11, 8]}
b = a.get('name')
c = a['name']
d = a.get('house')
e = a.get('house', 'No data')

print(b)
print(c)
print(d)
print(e)

John
John
None
No data

### 집합 자료형

In [37]:
a = {1, 2, 3, 2, 1}
b = set([1, 2, 3, 2, 1])
c = set('Python')

print(a)
print(b)
print(c)

{1, 2, 3}
{1, 2, 3}
{'y', 'n', 'P', 'h', 't', 'o'}

In [38]:
# 집합 자료형 변환
a = set([1, 2, 3])
b = list(a)
c = tuple(a)

print(a)
print(b)
print(b[0])
print(c)
print(c[2])

{1, 2, 3}
[1, 2, 3]
1
(1, 2, 3)
3

In [39]:
# 집합 자료형 교집합
a = set([1, 2, 3, 4, 5])
b = set([3, 4, 5, 6, 7])
c = a & b
d = a.intersection(b)

print(c)
print(d)

{3, 4, 5}
{3, 4, 5}

In [40]:
# 집합 자료형 합집합
a = set([1, 2, 3, 4, 5])
b = set([3, 4, 5, 6, 7])
c = a | b
d = a.union(b)

print(c)
print(d)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [41]:
# 집합 자료형 차집합
a = set([1, 2, 3, 4, 5])
b = set([3, 4, 5, 6, 7])
c = a - b
d = a.difference(b)

print(c)
print(d)

{1, 2}
{1, 2}

### 논리 자료형

In [42]:
a = True
b = False

print(a)
print(type(a))
print(b)
print(type(b))
print(a + b)
print(type(a + b))
print(a * b)
print(type(a * b))

True
<class 'bool'>
False
<class 'bool'>
1
<class 'int'>
0
<class 'int'>